.HeaderInfo {
  margin-left: 40px;
  position: relative;
  top: 30vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 40%;
}

.HeaderInfo h1 {
  font-size: 55px;
}

.HeaderInfo .overview {
  font-size: 1.4vw;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.HeaderButtons {
  margin-top: 3%;
  display: flex;
}
