.row {
  margin-bottom: 10px;
}

.row_posters {
  display: flex;
  overflow-x: scroll;
  z-index: 1;
  overflow-y: hidden;
  padding: 20px 0px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row .row_posters img {
  max-height: 160px;
  object-fit: contain;
  border-radius: 2%;
  margin-right: 5px;
  transition: transform 350ms;
}

.row .row_posters img:hover {
  transform: scale(1.2);
}
