.row {
  margin-bottom: 10px;
}

.row_posters {
  display: flex;
  overflow-x: scroll;
  z-index: 1;
  overflow-y: hidden;
  padding: 1.5vw 0px 0.5vw 0px;
  box-sizing: border-box;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.movie_info {
  position: relative;
  display: flex;
  box-sizing: border-box;
  height: 28vw;
  justify-content: space-between;
  transition: all 0.6s linear;
}
.description {
  max-width: 40%;
  padding-top: 20px;
  padding-right: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.description h1 {
  font-size: 1.8rem;
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
}

.media {
  width: 50%;
  margin-right: 3vw;
}

.overview {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.media img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.mobile_info {
  transition: transform 0.6s linear;
  position: fixed;
  display: none;
  flex-flow: column-reverse;
  top: 0vh;
  left: 0vw;
  z-index: 100;
  width: 100%;
  min-width: 100vw;
  transform: translateY(200vh);
  margin: 0%;
}

.mobile_info .mobile_info_main {
  background: #2b2b2b;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  max-height: 50vh;
  border-radius: 5% 5% 0% 0%;
  margin: 0%;
  box-sizing: border-box;
}

.mobile_info_main .mobile_description {
  display: flex;
  padding: 2vh 4vw;
  box-sizing: border-box;
  min-height: 24vh;
  max-height: 24vh;
}

@media only screen and (max-width: 768px) {
  .mobile_info {
    display: flex;
  }
  .movie_info {
    display: none;
  }
}
