button {
  margin-right: 10px;
  padding: 3px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 4%;
  cursor: not-allowed;
}

button:hover {
  opacity: 0.85;
}
