.Rows {
  margin-left: 3vw;
  margin-top: -10vw;
}

.mobile_info {
  transition: transform 0.6s linear;
  position: fixed;
  display: none;
  flex-flow: column-reverse;
  top: 0vh;
  left: 0vw;
  z-index: 100;
  width: 100%;
  min-width: 100vw;
  transform: translateY(200vh);
  margin: 0%;
}

.mobile_info .mobile_info_main {
  background: #2b2b2b;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  max-height: 50vh;
  border-radius: 5% 5% 0% 0%;
  margin: 0%;
  box-sizing: border-box;
}

.mobile_info_main .mobile_description {
  display: flex;
  padding: 2vh 4vw;
  box-sizing: border-box;
  min-height: 24vh;
  max-height: 24vh;
}
@media only screen and (max-width: 768px) {
  .mobile_info {
    display: flex;
  }
}
